/* 全体のスタイルのリセット（ブラウザ間の差異を少なくするための基本的なリセットスタイル） */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.page-container {
    display: flex; /* フレックスボックスを有効にする */
    flex-direction: column; /* 子要素を縦方向に配置 */
    min-height: 100vh; /* 画面の全高さを最低限確保 */
}

body {
    font-family: AdobeGaramondW01-Regula,"リュウミン R-KL","Ryumin Regular KL",RyuminPro-Regular,"游明朝","Yu Mincho","游明朝体",YuMincho,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",HiraMinProN-W3,"HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",serif;
}

/* ヘッダーのスタイル */
header {
    height: 140px;
    width: 100%; /* 画面幅全体を使用 */
    padding: 50px 0;
    display: flex; /* Flexboxを使用して中央寄せを行う */
    justify-content: center; /* 中央寄せ */
    align-items: center; /* 上下中央揃え */
    position: fixed; /* ヘッダーを固定 */
    top: 0; /* ヘッダーを画面の最上部に配置 */
    background-color: white; /* 背景色を白にして、スクロール時にコンテンツが透過しないようにします */
    z-index: 1000; /* 他の要素の上に表示するためのz-index値を設定 */
}

header h1 {
	margin-left: 45px;
    max-width: 1110px; /* メインコンテンツと同じ幅を持つようにする */
    width: 100%; /* 画面幅全体を使用 */
    font-size: 16px;
	font-weight: 400;
}

header h1 a {
    color: inherit; /* 親要素の色を継承 */
    text-decoration: none; /* アンダーラインを削除 */
    display: inline-block; /* インラインブロックとして表示 */
    transition: color 0.3s; /* 色の変更を滑らかにする */
}

header h1 a:hover {
    color: #666; /* ホバー時の色を少し暗くします（お好みで変更可） */
}

/* ヘッダー内のナビゲーションボタンのスタイル */
header .nav-buttons {
    position: absolute; /* 絶対位置指定を使用してボタンを配置 */
    right: calc((100% - 1100px) / 2); /* サムネイルの右端と揃えるための計算 */
    display: flex; /* ボタンを横に並べます */
    gap: 10px; /* ボタン間のスペース */
}

header .nav-buttons a {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 16px;
    text-decoration: none; /* アンダーラインを削除 */
    color: black; /* テキストの色を黒に設定 */
    transition: background-color 0.3s; /* 背景色の変更を滑らかにする */
}

header .nav-buttons a:hover {
    color: #666; /* ホバー時の色を少し暗くします（お好みで変更可） */
}

/* メインコンテンツのスタイル */
main {
	flex-grow: 1;
	margin: 40px auto;
    max-width: 1110px;
	padding-top: 160px; /* ヘッダーの高さとパディングを考慮して、この値を調整。内容がヘッダーの下に隠れないようにスペースを追加 */
}

.thumbnail {
    width: 352px; /* サムネイルの幅を設定 */
    height: auto;
    text-align: center; /* キャプションを中央揃えにする */
    padding-left: 15px; /* 左のpaddingを15pxに設定 */
    padding-right: 15px; /* 右のpaddingを15pxに設定 */
    margin-bottom: 60px; /* 下のmarginを60pxに設定 */
}

.thumbnail-container {
    display: grid; /* グリッドレイアウトを使用 */
    grid-template-columns: repeat(3, 1fr); /* 3列のグリッドを作成 */
    gap: 20px; /* サムネイル間のスペース */
}

.thumbnail img {
    width: 100%; /* 画像の幅をサムネイルの幅に合わせる */
    height: 220px; /* 画像の高さを指定 */
    object-fit: cover; /* 画像のアスペクト比を維持しつつ、指定したサイズに合わせる */
}

.thumbnail-caption {
    text-align: left; /* キャプションを左揃えにする */
    margin-top: 4px; /* キャプションの上のスペースを設定 */
}

.thumbnail-category {
	font-size: 14px;
    font-weight: 400;
    display: block; /* 新しい行に表示する */
}

.thumbnail-title {
	font-size: 16px;
    font-weight: 400;
    display: block; /* 新しい行に表示する */
}

/* 追加するCSS */
.content-area {
    max-width: 855px;
    margin: 0 auto; /* これにより、content-areaが中央に配置されます */
}

.content-area h2 {
	font-size: 24px;
    margin-bottom: 40px; /* 説明文の上部との間隔を取るためのマージンです */
}

.content-area p {
	font-size: 18px;
    top: 0;
    line-height: 2;
    margin-top: 40px; /* 説明文の上部との間隔を取るためのマージンです */
}

/* フッターのスタイル */
footer {
    height: 210px;
    width: 100%; /* 画面幅全体を使用 */
}

.footer-content {
    font-size: 10px;
    text-align: center; /* テキストを中央揃えにする */
    width: 100%; /* コンテナの幅を100%にする */
    line-height: 210px; /* フッターの高さと同じにすることで、テキストを垂直方向に中央揃えにします */
}

/* 画面幅が768px以下のデバイスに適用するスタイル */
@media (max-width: 768px) {
    header {
        height: 100px; /* ヘッダーの高さを小さく調整 */
    }
	main {
        margin: 80px auto; /* 上下の隙間を80pxに変更 */
    }
    footer {
        height: 150px; /* フッターの高さを小さく調整 */
		margin-top: 20px;
    }
}