body {
  /* 画面全体のグラデーション */
  background: linear-gradient(0deg, #12c2e9, #c471ed, #f64f59);
  margin: 0;
  padding: 0;
  height: 100vh;
}

#transcript {
  /* フォントサイズ、フォントタイプ、フォントカラーの指定 */
  font-size: 100px;
  font-family: 'Noto Serif JP', serif;
  color: #FFF;
}

#frequentWords {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 40px;
  font-family: 'Noto Serif JP', serif;
  color: #FFF;
}

.highlight {
  background-color: black;
}